<div class="row" id="acercademi">
    <h2>Acerca de mi</h2>
    <div class="col-sm-12 col-md-5 col-lg-5 col-xl-5"><img src="../../../assets/Wha_at_5.27.14_PM-removebg-preview.png" alt="">
    </div>
    <div class="col-sm-12 col-md-7 col-lg-7 col-xl-7">
        <h3>Mi introducción</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam repellendus laudantium modi in obcaecati ipsum, doloribus ad culpa, cupiditate quia vitae fugiat maxime saepe? Unde voluptate repellendus laboriosam sapiente optio.   
        </p>
        <button>
           <p>Descargar CV 
           </p> 
        </button>
    </div>
    <div class="divider"></div>
</div>
