.row{
    max-width: 1300px;
    margin-left: auto;
    margin-right: auto;
}
h2{
    text-align: center;
    font-family:Playfair Display;
    color: dimgray;
    font-weight:800;
}

img{
    display: flex;
    width: 250px;
    border: 4px solid;
    border-color:dimgray;
    border-radius: 3px;
    margin-left: auto;
    margin-right: auto;    
}
h3{
    text-align: center;
    margin-top: 50px;
    color: cadetblue;
    font-family: Playfair Display;
}
p{
    text-align: center;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    color: dimgray;
    font-family: Roboto Condensed;
    font-size: 1.2em;
}
button{
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    background-color:dimgray;
    transition: all 300ms ease;
}
button p{
    display: flex;
    margin: 0 auto;
    color: azure;
}
button:hover{
    background-color: cadetblue;
}
hr{
  border: 3px solid black;
  border-radius: 20px;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 400px;
  color: black;
}