<footer>
    <div class="container">
      <div class="row">
        <div class="col-lg-4 col-md-6">
          <h3>Enlaces útiles</h3>
          <ul>
            <li><a href="#">Inicio</a></li>
            <li><a href="#">Acerca de nosotros</a></li>
            <li><a href="#">Contacto</a></li>
            <li><a href="#">Política de privacidad</a></li>
          </ul>
        </div>
        <div class="col-lg-4 col-md-6">
          <h3>Contacto</h3>
          <ul>
            <li><i class="fa fa-map-marker"></i> Dirección: 123 Calle Falsa, Springfield</li>
            <li><i class="fa fa-phone"></i> Teléfono: +1234567890</li>
            <li><i class="fa fa-envelope"></i> Correo electrónico: info@ejemplo.com</li>
          </ul>
        </div>
        <div class="col-lg-4 col-md-12">
          <h3>Suscribete</h3>
          <p>Recibe actualizaciones sobre nuestras últimas noticias e ofertas especiales.</p>
          <form>
            <div class="form-group">
              <input type="email" class="form-control" placeholder="Introduce tu correo electrónico">
            </div>
            <button type="submit" class="btn btn-primary">Suscribete</button>
          </form>
        </div>
      </div>
    </div>
  </footer>
