.header-nav{
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    height: 100px;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: all .50s ease;
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.18);
}
img{
    width: 170px;
}
.nav-bar ul{
    display: flex;
    list-style: none;
    margin-top: 20px;
}
.nav-bar a{
    font-size: 1.1rem;
    font-weight: 500;
    margin: 0px 25px;
    text-decoration: none;
    color: dimgray;
}
.nav-bar a:hover{
    color: rgb(240, 117, 117);
    transition: 0.5s;
}
.nav-bar a.active{
    color:rgb(240, 117, 117) ;
}
.nav-contact{
    display: flex;
}
.nav-contact ul{
    display: flex;
    list-style: none;
    align-items: center;
    margin-top: 20px;
}
.nav-contact a{
    padding: 10px;
    color: dimgray;
}
.nav-contact a:hover{
    color: rgb(240, 117, 117);
    transition: 0.5s;
}
button{
    height: 2.5em;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
}

@media screen and (max-width: 1120px){
    .nav-bar a{
        font-size: 1rem;
    }
    img{
        width: 130px;
    }
    svg{
        width: 18px;
    }
}