<div class="row">
    <h2 class="titule">Educación</h2>
    <div class="timeline">
        <div class="container right-container">
            <img src="../../../assets/descarga-removebg-preview.png">
            <div class="text-box">
                <h2>Nuestra Señora de gracia y buen remedio</h2>
                <small>2018 - 2022</small>
                <p>
                    Lorem ipsum dolor sit,uod quidem architecto voluptatem, accusantium omnis labore consequuntur dignissimos rem hic veritatis sunt voluptas, saepe expedita, at doloremque inventore ullam!
                </p>
                <span class="right-container-arrow"></span>
            </div>
        </div>
        <div class="container left-container">
            <img src="../../../assets/ar-prog_loaago.png">
            <div class="text-box">
                <h2>Argentina Programa #seprogramar</h2>
                <small>2022</small>
                <p>
                    Lorem ipsum dolor sit,uod quidem architecto voluptatem, accusantium omnis labore consequuntur dignissimos rem hic veritatis sunt voluptas, saepe expedita, at doloremque inventore ullam!
                </p>
                <span class="left-container-arrow"></span>
            </div>
        </div>
        <div class="container right-container">
            <img src="../../../assets/ar-prog_loaago.png">
            <div class="text-box">
                <h2>Argentina Programa #yoprogramo</h2>
                <small>2022 - 2023</small>
                <p>
                    Lorem ipsum dolor sit,uod quidem architecto voluptatem, accusantium omnis labore consequuntur dignissimos rem hic veritatis sunt voluptas, saepe expedita, at doloremque inventore ullam!
                </p>
                <span class="right-container-arrow"></span>
            </div>
        </div>
        
    </div> <hr>
   
</div>