<section class="vh-100">
  <div class="container" *ngIf="educacion">
    <div class="row">
      <div>
        <form (ngSubmit)="onUpdate()" novalidate #f="ngForm">
          <div class="form-group">
            <label for="nombreE">Nombre de la Educación</label>
            <input type="text" class="form-control" name="nombreE" id="nombreE" [(ngModel)]="educacion.nombreE"
              required>
          </div>
          <div class="form-group">
            <label for="descripcionE">Descripción</label>
            <input type="text" class="form-control" name="descripcionE" id="descripcionE"
              [(ngModel)]="educacion.descripcionE" required>
          </div>
          <button class="btn btn-primary"> Actualizar</button>
        </form>
      </div>
    </div>
  </div>
</section>