*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.row{
    background-color: whitesmoke;
    opacity: 0.99;
    padding-top: 50px;
    padding-bottom: 100px;
}
.timeline{
    position: relative;
    max-width: 1200px;
    margin-right: auto;
    margin-top: 70px;

}

.container{
    padding: 10px 50px;
    position: relative;
    width: 50%;
    animation: movedown 1s linear forwards;
    opacity: 0;
}
.container:nth-child(1){
    animation-delay: 0s;
}
.container:nth-child(2){
    animation-delay: 2s;
}
.container:nth-child(3){
    animation-delay: 4s;
}
.text-box{
    padding: 20px 30px;
    background:rgb(151, 151, 151);
    position: relative;
    border-radius: 6px;
    font-size: 15px;
    box-shadow:10px 10px 15px rgba(104, 104, 104, 0.3);
}
.left-container{
    left: 0;
}
.right-container{
    left: 50%;
}
.container img{
    position: absolute;
    width: 40px;
    border-radius: 50%;
    right: -20px;
    top: 32px;
}
@keyframes movedown {
    0%{
        opacity: 1;
        transform: translateY(-30px);
    }
    100%{
        opacity: 1;
        transform: translateY(0px);
    }
}
.right-container img{
    left: -20px;
}
.timeline::after{
    content: '';
    position: absolute;
    width: 6px;
    height: 100%;
    background-color:rgb(151, 151, 151);
    top: 0;
    left: 50%;
    margin-left: -3px;
    z-index: -1;
    animation: moveline 6s linear forwards;
}
@keyframes moveline {
    0%{
        height: 0;
    }
    100%{
        height: 100;
    }
}
.text-box h2{
    font-weight: 600;
}
.text-box small{
    margin-bottom: 15px;
    display: inline-block;
}
.left-container-arrow{
    height: 0;
    width: 0;
    position: absolute;
    top: 28px;
    z-index: 1;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-left: 15px solid rgb(151, 151, 151);
    right: -15px;
}
.right-container-arrow{
    height: 0;
    width: 0;
    position: absolute;
    top: 28px;
    z-index: 1;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-right: 15px solid rgb(151, 151, 151);
    left: -14px;
}
.titule{
    font-family: Playfair Display;
    color: rgb(240, 117, 117);
    font-weight:800;
    text-align: center;
    margin-top: 100px;
}
p{
    font-family: Roboto Condensed;
    font-size: 15px;
}

@media screen and (max-width:2000px){
    .timeline{
        margin: 50px auto;
    }
    .timeline::after{
        left: 31px;
    }
    .container{
        width: 100%;
        padding-left: 80px;
        padding-right: 25px;
    }
    .text-box{
        font-size: 12px;
    }
    .text-box small{
        margin-bottom: 10px;
    }
    .right-container{
        left: 0;
    }
    .left-container img, .right-container img{
        left: 10px;
    }
    .left-container-arrow, .right-container-arrow{
        border-right: 15px solid rgb(151, 151, 151);
        left: -14px;
        border-left: 0;
    }

}
  p{
    color: aliceblue;
  }
  h2{
    color: aliceblue;
  }
  small{
    color: rgb(255, 255, 255);
  }
  .edit{
    background-color: rgb(73, 73, 73);
    border-radius: 10px;
    border: solid  rgb(73, 73, 73);
    box-shadow: 9px 11px 15px rgba(77, 77, 77, 0.3);
  }
  .edit svg{
    color: whitesmoke;
  }
  .edit:hover{
    background-color: rgb(240, 117, 117);
    border: solid rgb(240, 117, 117);
    box-shadow: 9px 11px 15px rgba(233, 67, 67, 0.3);
  }
  .delete{
    background-color: rgb(73, 73, 73);
    border-radius: 10px;
    border: solid  rgb(73, 73, 73);
    box-shadow: 9px 11px 15px rgba(77, 77, 77, 0.3);
    margin-left: 7px;
  }
  .delete svg{
    color: whitesmoke;
  }
  .delete:hover{
    background-color: rgb(240, 117, 117);
    border: solid rgb(240, 117, 117);
    box-shadow: 9px 11px 15px rgba(233, 67, 67, 0.3);
  }
.btn-dark{
    margin-top: 10px;
}
  
