.row{
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 150px;
    display: flex;
    padding: 100px;
}
h2{
    color: dimgray;
    font-weight: 800;
    font-family: Playfair Display;
    text-align: center;
}
.progress{
    height: 12px;
    width: 400px;
    box-shadow: 0px 10px 10px rgba(15, 15, 15, 0.3);
    background-color: rgba(180, 180, 180, 0.2);
}
.progress-bar{
    background-color: dimgray;
    animation: moveline-bar 1.5s linear forwards;
}
@keyframes moveline-bar{
    0%{
        width:0;
    }
    100%{
        width: 100;
    }
}

h4{
    text-align: center;
    color:rgb(233, 70, 70);
    margin-top: 40px;
}
p{
    margin-bottom: 0;
    font-family: Roboto Condensed;
    font-size: small;
    color: dimgray;
    margin-top: 10px;
    font-weight: 800;
    text-align: center;
}
img{
    width: 25px;
    margin-right: 10px;
    
}
.logo-bar-progress{
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}
.css-logo{
    width: 23px;
}
.javascript-logo{
    width: 33px;
}

  .ruby-image{
    width: 25px;
  }
  .creatividad-image{
    width: 40px;
  }
  .col-sm-12{
    margin-top: 20px;
  }
 button.btn{
    margin: 0 auto;
 }
 .edit{
    background-color: rgb(73, 73, 73);
    border-radius: 10px;
    border: solid  rgb(73, 73, 73);
    box-shadow: 9px 11px 15px rgba(77, 77, 77, 0.3);
  }
  .edit svg{
    color: whitesmoke;
  }
  .edit:hover{
    background-color: rgb(240, 117, 117);
    border: solid rgb(240, 117, 117);
    box-shadow: 9px 11px 15px rgba(233, 67, 67, 0.3);
  }
  .delete{
    background-color: rgb(73, 73, 73);
    border-radius: 10px;
    border: solid  rgb(73, 73, 73);
    box-shadow: 9px 11px 15px rgba(77, 77, 77, 0.3);
    margin-left: 7px;
  }
  .delete svg{
    color: whitesmoke;
  }
  .delete:hover{
    background-color: rgb(240, 117, 117);
    border: solid rgb(240, 117, 117);
    box-shadow: 9px 11px 15px rgba(233, 67, 67, 0.3);
  }
  button.btn{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 170px;
    margin: 0 auto;
    height: 30px;
  }

  @media screen and (max-width:900px){
    .circlee {
      width: 100px;
      height: 100px;
    }
  }